.form{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 20px;
    padding: 20px;
}

.form__input{
    padding: 8px;
    border: solid 2px #e0e0e0;
}

.form__button {
    padding: 10px;
    background-color: teal;
    color: white;
    border: none;  
}
